body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Wrapper {
  text-align: center;
}

.Wrapper--prelaunch {
  padding-top: 10px;
}

.Wrapper--prelaunch p {
  margin: 0;
}

.Wrapper--prelaunch div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Wrapper--prelaunch__Button--uploadFiles {
  width: 50vw;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: #08b;
  color: white;
  height: 3em;
  font-size: 1em;
  cursor: pointer;
}

.Wrapper--prelaunch__Button--uploadFiles:hover {
  background-color: #0ae;
}

.Wrapper--prelaunch__Button--launch {
  width: 50vw;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  background-color: #080;
  color: white;
  height: 3em;
  font-size: 1em;
  cursor: pointer;
}

.Wrapper--prelaunch__Button--launch:hover {
  background-color: #0a0;
}

.Wrapper--prelaunch__Button--launch:disabled {
  background-color: #686;
  color: #666;
  cursor: not-allowed;
}

canvas {
  width: 100vw;
  height: 100px;
}
